<ion-header>
  <ion-navbar>
    <ion-title>
      Krono Training App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 class="text-center">¡Encuentre todo lo que necesite en nuestra fantástica lista de productos!</h1>
  <ion-list>
    <ion-card ion-card *ngFor="let product of productos" (click)="goToDetalles(product)">
      <img [src]="product.image"/>
      <ion-card-content>
        <ion-card-title>
          {{product.name}}
          </ion-card-title>
        <p>
          {{product.description}}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
