<!--
  Generated template for the DetalleProductoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle de Producto</ion-title>
	<ion-buttons end>
		<button ion-button icon-only (click)="close()">
			<ion-icon name="close"></ion-icon>
		</button>
	</ion-buttons> 
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h2 class="text-center">{{product.name}}</h2>
	<img src="{{product.image}}">
	<p class="text-center">{{product.description}}</p>
	<p class="text-center">Precio: {{product.price}} bs. </p>
</ion-content>
